*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.header {
  height: 7rem;
  width: 100vw;
  position: fixed;
  display: flex;
  background-color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.header i {
  color: dodgerblue;
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-right: 5rem;
  display: none;
}

.header__text {
  display: flex;
  margin-left: 5rem;
  width: 70vw;
  padding-top: 2.5rem;
  justify-content: space-evenly;
}

.header__text p {
  font-size: 1.5rem;
  color: white;
}

.header__text p:hover {
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.header img {
  margin-top: 1rem;
  margin-left: 3rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  overflow: hidden;
}

#main__text {
  padding: 1rem 1rem 1rem 5rem;
  margin-top: 7rem;
}

#main__text span {
  color: #dd3222;
}

#main__text h1 {
  font-size: 6rem;
  color: #333;
}

#main__image {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 7rem;
}

#main__subtext {
  margin: 2rem 0 0 8rem;
  border-bottom: 2px solid #908392;
  background-color: whitesmoke;
  width: 70%;
  padding: 1rem;
  border-radius: 3px;
}

#main__subtext q {
  font-size: 1.5rem;
  color: #333;
}

#main__social-media {
  margin: 2rem 0 0 5rem;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

#main__social-media i {
  color: #333;
  transition: all 0.2s;
}

#main__social-media i:hover {
  color: white;
  padding: 0.7rem;
  border-radius: 3px;
  background-color: #dd3222;
}

.section {
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 90vw;
}

.section__services {
  text-align: center;
  font-size: 4rem;
  color: #333;
}

.aside_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 3rem;
  padding: 1rem 5rem 1rem 5rem;
}

.aside_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 3rem;
  padding: 1rem 5rem 1rem 5rem;
}

.aside__image {
  text-align: center;
}

.aside__image img {
  width: 30rem;
}

.aside__text {
  border-radius: 5px;
  padding: 6rem 2.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.aside__text p {
  font-size: 1.8rem;
  color: #444;
}

form {
  width: 25rem;
}

.footer {
  height: 7rem;
  text-align: center;
  padding-top: 2.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #333;
}

.footer span {
  color: dodgerblue;
}

.contact-us {
  width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  margin-bottom: 5rem;
}

input {
  height: 3rem;
  border: 0;
  border-bottom: 1px solid #444;
  outline: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #282625;
  padding-left: 2rem;
}

textarea {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

::placeholder {
  color: #444;
}

input,
textarea {
  width: 35rem;
}

button {
  margin: 1rem auto;
  width: 12rem;
  height: 3rem;
  border-radius: 3px;
  color: white;
  background-color: dodgerblue;
  outline: 0;
  border: 0;
  cursor: pointer;
}

#alert {
  display: none;
  background-color: #93b65f;
  color: white;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  width: 36rem;
  margin: auto;
  text-align: center;
  animation: cssAnimation 0s ease-in 2s forwards;
  transition: all 0.2s;
}

#numValidate {
  display: none;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  width: 36rem;
  margin: auto;
  text-align: center;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .header__text p {
    display: none;
  }

  .header i {
    display: block;
  }

  .header img {
    height: 3rem;
    margin-top: 2rem;
  }
}
